{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block body %}

<body class="loaded">


  <!-- BEGIN BODY -->

  <div class="main-wrapper">

      <!-- BEGIN CONTENT -->

      <main class="content">
          <!-- BEGIN DETAIL MAIN BLOCK -->
          <div class="detail-block">
              <div class="wrapper">
                  <div class="detail-block__content">
                      <h1>Contact</h1>
                      <ul class="bread-crumbs">
                          <li class="bread-crumbs__item">
                              <a href="{% url 'home' %}" class="bread-crumbs__link">Home</a>
                          </li>
                          <li class="bread-crumbs__item">Contact</li>
                      </ul>
                      <div class="detail-block__items">
                          <div class="detail-block__item">
                              <div class="detail-block__item-icon">
                                <img data-src="{% static 'img/main-text-decor.svg' %}"
                                      src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                  <i class="icon-map-pin-big"></i>
                              </div>
                              <div class="detail-block__item-info">
                                  27 Division St, New<br>
                                  York, NY 10002, USA
                              </div>
                          </div>
                          <div class="detail-block__item">
                              <div class="detail-block__item-icon">
                                  <img data-src="{% static 'img/main-text-decor.svg' %}"
                                      src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                  <i class="icon-phone"></i>
                              </div>
                              <div class="detail-block__item-info">
                                  +1 345 99 71 345<br>
                                  info@beshop.com
                              </div>
                          </div>
                          <div class="detail-block__item">
                              <div class="detail-block__item-icon">
                                  <img data-src="{% static 'img/main-text-decor.svg' %}"
                                      src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
                                  <i class="icon-2"></i>
                              </div>
                              <div class="detail-block__item-info">
                                  Mon - Fri: 9 am - 6 pm<br>
                                  Sat - Sun: Holiday
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- DETAIL MAIN BLOCK EOF   -->
          <!-- BEGIN CONTACTS INFO -->
          <div class="contacts-info">
              <div class="wrapper">
                  <div class="contacts-info__content">
                      <div class="contacts-info__text">
                          <h4>We take care of you</h4>
                          <p>
                              Email us if you have any questions, we will be sure to contact you and find a solution. Also,
                              our managers will help you choose the product that suits you best, at the best price. From year
                              to year, the BeShop network develops and improves, taking into account all consumer needs and
                              market trends. But for us, the concern remains that when coming to the BeShop store, customers
                              do not have questions about the convenience and comfort of shopping, product quality and
                              the level of professionalism of sales consultants.
                          </p>
                      </div>
                      <div class="contacts-info__social">
                          <span>Find us here:</span>
                          <ul>
                              <li><a href="#"><i class="icon-facebook"></i></a></li>
                              <li><a href="#"><i class="icon-twitter"></i></a></li>
                              <li><a href="#"><i class="icon-insta"></i></a></li>
                              <li><a href="#"><i class="icon-in"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- CONTACTS INFO EOF   -->
          
          <!-- BEGIN DISCOUNT -->
    <div class="discount discount-contacts js-img" style="height: 1067px;" data-src="{% static 'img/contact_body.jpg' %}">
      <div class="wrapper">
        <div class="discount-info">
          <span class="saint-text">write to us</span>
          <p style="color:white;">
                          Write to us if you have any questions, we will definitely contact you and find a solution.
                      </p>
                      <form id="contact" action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="row text-center" style="margin-right: 0px;">
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <fieldset>
                              <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <fieldset>
                              <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-8">
                            <fieldset>
                              <textarea name="message" rows="6" class="form-control mx-3 my-4" id="message" placeholder="Your Message" required=""></textarea>
                            </fieldset>
                          </div>
                          {% include 'includes/alert.html' %}
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" class="btn btn-primary my-2" style="background-color: #bba772;" id="form-submit" class="filled-button">Send Message</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
        </div>
      </div>
    </div>
          <!-- DISCOUNT EOF   -->
          
          <div class="my-2" id="map">
            <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
{% endblock body %}