{% load static %}
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top__social">
                <span>Find us here:</span>
                <ul>
                    <li><a href="https://www.facebook.com/niceatnelsonbay/" target="_blank"><i class="icon-facebook"></i></a></li>
                              
                     <li><a href="https://www.instagram.com/nicecafe_nelsonbay/" target="_blank"><i class="icon-insta"></i></a></li>
                              
                </ul>
            </div>
            <div class="footer-top__logo">
                <img style="width: 150px; max-width: 149px; margin-top: -20px; margin-left: 100px" data-src="{% static 'img/logo.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                    class="js-img" alt="">
            </div>
            <div class="footer-top__payments">
                <span>Payment methods:</span>
                <ul>
                    <li><img data-src="{% static 'img/payment1.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                            class="js-img" alt=""></li>
                    <li><img data-src="{% static 'img/payment2.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                            class="js-img" alt=""></li>
                    <li><img data-src="{% static 'img/payment3.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                            class="js-img" alt=""></li>
                    <li><img data-src="{% static 'img/payment4.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
                            class="js-img" alt=""></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-copy">
            <span>&copy; All rights reserved. Nicecafe 2021</span>
        </div>
    </div>
</footer>

<!-- FOOTER EOF   -->



</div>

<div class="icon-load"></div>

<!-- BODY EOF   -->


<script src="{% static 'js/lazyload.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
