{% extends 'base.html' %}
{% load static %}
{% block title %}Greetings{% endblock title %}

{% block body %}

<body class="loaded">


    <!-- BEGIN BODY -->

    <div class="main-wrapper">

        <!-- BEGIN CONTENT -->

        <main class="content">
            <!-- BEGIN DETAIL MAIN BLOCK -->
            <div class="detail-block detail-block_margin">
                <div class="wrapper">
                    <div class="detail-block__content">
                        <h1>Thank You</h1>
                        <span class="error-descr">Greetings!</span>
                    </div>
                </div>
            </div>
            <!-- DETAIL MAIN BLOCK EOF   -->
            
            <div class="error-page">
                <div class="wrapper">
                    <div class="error-page__content">
                        <div class="error-page__info">
                            <div class="error-page__title">
                                <span>Thank You for the subscription</span>
                                We will update you regularly on your Email Address
                            </div>
                            
                    </div>
                </div>
            </div>


{% endblock body %}